{block content}

<div>
    <a n:href="add" class="pure-button">Nový recept</a>
</div>

<h1>Recepty</h1>

<ul>
<li n:foreach="$recipes as $recipe">
    <a n:href="Recipe:show $recipe->id_recipe">{$recipe->name}</a>
</li>
</ul>